@model IEnumerable<Online_Auction.Models.Lot>;

@{
    ViewBag.Title = "Все лоты";
    Layout = "_Layout";
}

<h2>Все лоты</h2>
<a asp-action="CreateLot">Создать лот</a>
<table class="table">
    <tr><th>Название лота</th><th>Фото лота</th><th>Владелец лота</th><th>Действия</th></tr>
    @foreach (var lot in Model)
    {
        <tr>
            <td><a class="btn badge-primary" asp-action="ProfileLot" asp-route-id="@lot.Id">@lot.Name</a></td>
            <td><img style="width: 50px; height: 40px" src="@lot.Images.First().ImgPath"/></td>
            <td><span>@lot.User.UserName</span></td>
            <td>
                <a class="btn alert-primary" asp-action="EditLot" asp-route-id="@lot.Id">Изменить</a>
                <form asp-action="DeleteLot" asp-route-id="@lot.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>   
    }
    
</table>