@model Online_Auction.Models.Lot;

@{
    ViewBag.Title = "Информация о лоте";
    Layout = "_Layout";
}

<h2>Информация о лоте</h2>
<div>
    <div class="row">
        @foreach (var img in Model.Images)
        {
            <div class="p-div-img">
                <img src="@img.ImgPath" alt="" class="p-img"/>
            </div>
        }
    </div>
    <div class="row">
        <div class="col box-shadow"> 
            <ul>
                <li style="list-style-type: none;"><h6>@Model.Name</h6></li>
                <li style="list-style-type: none;"><span>Лот № @Model.Id</span></li>
                <li style="list-style-type: none;"><span>Продавец: @Model.User.UserName</span></li>
                <li style="list-style-type: none;"><span>В категории: @Model.Category.Name</span></li>
                <li style="list-style-type: none;">
                    <img src="/Icons/cal.png" alt="price" width="15" height="15" class="icon">
                    <h6 style=" float: left; margin-top: 2px; margin-right: 2px;">Старт торгов:</h6>
                    <p>@Model.StartSale</p>
                </li>
                <li style="list-style-type: none;">
                    <img src="/Icons/cal2.png" alt="price" width="15" height="15" class="icon">
                    <h6 style=" float: left; margin-top: 2px; margin-right: 2px;">Конец торгов:</h6>
                    <p>@Model.FinishSale</p>
                </li>
            </ul>  
        </div>
        <div class="col box-shadow">
            <li style="list-style-type: none;">
                <img src="/Icons/price.png" alt="price" width="15" height="15" class="icon">
                <h5 style=" float: left; margin-right: 2px;">Текущая цена:</h5>
                <p>@Model.Price BYN</p>
            </li>
            @if (User.Identity.IsAuthenticated && (Model.StartSale <= DateTime.Now && Model.FinishSale > DateTime.Now))
            {
                <li style="list-style-type: none;">
                    <h5 style="margin-top: 2px; margin-right: 2px;">Введите свою ставку:</h5>
                    <form method="post" asp-action="IncreasePrice" asp-route-id="@Model.Id">
                        <input type="number" name="price" style="border-radius: 5px;"/>
                        <input type="submit" value="Поставить" class="btn badge-primary"/>
                    </form>
                </li>
            }
        </div>
    </div>
    <div class="row">
        <div class="col box-shadow">
            <h5>Описание лота:</h5>
            <text>@Model.Description</text>
        </div>
        <div class="col box-shadow">
            <h5>Комментарии:</h5>
        </div>
    </div>
</div>