@model IGI.ViewModels.LotViewModel;

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@foreach(var lot in Model.Lots){

    <div class="row box-shadow div-lot"> 
        <div class="col">
            <div class="div-img">
                <img src="@lot.Images.First().ImgPath" alt="" class="img"/>
            </div>
        </div>
        <div class="lot-info">
            <ul>
                <li style="list-style-type: none;"><h6>@lot.Name</h6></li>
                <li style="list-style-type: none;"><span>Лот № @lot.Id</span></li>
                <li style="list-style-type: none;"><span>Продавец: @lot.User.UserName</span></li>
                @if (lot.CategoryId != null)
                {
                    <li style="list-style-type: none;"><span>В категории: @lot.Category.Name</span></li>
                }
                else
                {
                    <li style="list-style-type: none;"><span>В категории: не принадлежит категории</span></li>
                }
                
                <li style="list-style-type: none;">
                    <a class="btn badge-primary" 
                       asp-controller="Home"  
                       asp-action="ProfileLot" 
                       asp-route-id="@lot.Id">Подробнее</a>
                </li>
            </ul> 
        </div>
        <div class="lot-info">
            <ul>
                <li style="list-style-type: none;">
                    <img src="/Icons/price.png" alt="price" width="15" height="15" class="icon">
                    <h6 style=" float: left; margin-top: 2px; margin-right: 2px;">Текущая цена:</h6>
                    <p>@lot.Price BYN</p>
                </li>
                <li style="list-style-type: none;">
                    <img src="/Icons/cal.png" alt="price" width="15" height="15" class="icon">
                    <h6 style=" float: left; margin-top: 2px; margin-right: 2px;">Старт торгов:</h6>
                    <p>@lot.StartSale</p>
                </li>
                <li style="list-style-type: none;">
                    <img src="/Icons/cal2.png" alt="price" width="15" height="15" class="icon">
                    <h6 style=" float: left; margin-top: 2px; margin-right: 2px;">Конец торгов:</h6>
                    <p>@lot.FinishSale</p>
                </li>
            </ul>
        </div>
    </div>
}

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark"> 
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед 
    </a>
}