﻿
@model IGI.Models.Lot;

@{
    ViewBag.Title = "Информация о лоте";
    Layout = "_Layout";
}

<h2>Информация о лоте</h2>
<div>
    <div class="row">
        @foreach (var img in Model.Images)
        {
            <div class="p-div-img">
                <img src="@img.ImgPath" alt="" class="p-img"/>
            </div>
        }
    </div>
    <div class="row">
        <div class="col box-shadow">
            <ul>
                <li style="list-style-type: none;"><h6>@Model.Name</h6></li>
                <li style="list-style-type: none;"><span>Лот № @Model.Id</span></li>
                <li style="list-style-type: none;"><span>Продавец: @Model.User.UserName</span></li>
                @if (Model.CategoryId != null)
                {
                    <li style="list-style-type: none;">
                        <span>В категории: @Model.Category.Name</span>
                    </li>
                }
                else
                {
                    <li style="list-style-type: none;">
                        <span>В категории: не принадлежит категории</span>
                    </li>
                }
                <li style="list-style-type: none;">
                    <img src="/Icons/cal.png" alt="price" width="15" height="15" class="icon">
                    <h6 style=" float: left; margin-top: 2px; margin-right: 2px;">Старт торгов:</h6>
                    <p>@Model.StartSale</p>
                </li>
                <li style="list-style-type: none;">
                    <img src="/Icons/cal2.png" alt="price" width="15" height="15" class="icon">
                    <h6 style=" float: left; margin-top: 2px; margin-right: 2px;">Конец торгов:</h6>
                    <p>@Model.FinishSale</p>
                </li>
            </ul>
        </div>
        <div class="col box-shadow">
            <li style="list-style-type: none;">
                <img src="/Icons/price.png" alt="price" width="15" height="15" class="icon">
                <h5 style=" float: left; margin-right: 2px;">Текущая цена:</h5>
                <p id="price">@Model.Price BYN</p>
                <p id="s"></p>
            </li>
            @if (User.Identity.IsAuthenticated 
                 && (Model.StartSale <= DateTime.Now.AddHours(Model.Hours) 
                     && Model.FinishSale > DateTime.Now.AddHours(Model.Hours) ))
            {
                <li style="list-style-type: none;">
                    <h5 style="margin-top: 2px; margin-right: 2px;">Введите свою ставку:</h5> 
                        <input id="inputRate" type="number" name="price" style="border-radius: 5px;"/>
                        <input id="submitRate" type="submit" value="Поставить" class="btn badge-primary"/> 
                    <p id="Alert"></p>
                </li>
            }
            else if (!User.Identity.IsAuthenticated)
            {
                <h5 style="margin-top: 2px; margin-right: 2px;">Вы не авторизованы и не можете делать ставки</h5>
            }
            else if (Model.FinishSale < DateTime.Now.AddHours(Model.Hours) )
            {
                <h5 style="margin-top: 2px; margin-right: 2px;">Торги завершились</h5>
            }
            else if (Model.StartSale > DateTime.Now.AddHours(Model.Hours) )
            {
                <h5 style="margin-top: 2px; margin-right: 2px;">Торги ещё не начались</h5>
            }
        </div>
    </div>
    <div class="row">
        <div class="col box-shadow">
            <h5>Описание лота:</h5>
            <text>@Model.Description</text>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/increaseRates.js"></script>
 
 